@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

-webkit- @keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.write {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    line-height: 400px;
    font-size: 95px;
}

.write::after {
    content: "";
    background-color: #00030d;
    width: 6px;
    height: 95px;
    vertical-align: -10px;
    margin-left: 5px;
    display: inline-block;
    animation: blink .4s infinite alternate;
    -webkit-animation: blink .4s infinite alternate;
}
